    <footer class="main-footer">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-4">
                    <article class="footer-data">
                        <i class="fas fa-gift"></i>
                        <h2>Promociones</h2>
                        <p>Descargando la aplicación de Waldo por App Store y Google Play, encontrarás muchas promociones.</p>
                    </article>
                </div>
                <div class="col-12 col-lg-4">
                    <article class="footer-data">
                        <i class="fas fa-credit-card"></i>
                        <h2>Métodos de pago</h2>
                        <p>Aceptamos los siguientes métodos de pago: tarjeta de crédito y débito, mercadopago, brubank y transferencia bancaria.</p>
                    </article>
                </div>
                <div class="col-12 col-lg-4">
                    <article class="footer-data">
                        <i class="fas fa-user-shield"></i>
                        <h2>AutoWaldo</h2>
                        <p>¡En nuestras tiendas tendrás la posibilidad de llevar tus productos rápido y sin bajarte del auto!</p>
                    </article>
                </div>
            </div>
        </div>
    </footer>
<!-- /footer -->
</body>	
</html>