<%- include('./partials/head') %>
<!-- <% if (locals.user != undefined) { %> -->
	<!-- <%- include("./partials/headerLogueado") %> -->
 <!-- <% } else { %> -->
	<%- include('./partials/header') %>
<!-- <% } %> -->



<!DOCTYPE html>
<html lang="es">

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Editar mi perfil</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<section>
				<form action="/users/profile" method="get">

					<div>
						<label for="">Mail:</label>
						<input type="email" name="mail" value="">
					</div>

					<div>
						<label for="">Usuario:</label>
						<input type="text" name="user" value="">
					</div>

					<div>
						<label for="">Contrasena:</label>
						<input type="password" name="contrasena" value="">
					</div>

					<div>
						<label for="">Fecha nacimiento:</label>
						<input type="date" name="edad" value="">
					</div>

					<div>
						<label for="">DNI:</label>
						<input type="number" name="dni" value="">
					</div>

					<div>
						<label for="">Foto de perfil:</label>
						<input type="file" name="foto" value="">
					</div>

					<div>
						<button type="submit">Enviar</button>
					</div>


				</form>
			</section>
</body>

</html>

<%- include('./partials/footer') %>