<%- include('./partials/head') %>
<!-- <% if (locals.user != undefined) { %> -->
	<!-- <%- include("./partials/headerLogueado") %> -->
 <!-- <% } else { %> -->
	<%- include('./partials/header') %>
<!-- <% } %> -->


<!DOCTYPE html>
<html lang="es">
	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Ingresar</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<section>
				<form action="/users/login" method="post">

					<div>
						<label for="">Mail:</label>
						<input type="email" name="mail" value="">
					</div>

					<div>
						<label for="">Contrasena:</label>
						<input type="password" name="contrasena" value="">
					</div>

					<div>
						<label for="">Recordarme:</label>
						<input type="checkbox" name="rememberme" id='recordarme' value="">
					</div>
					<div>
						<button type="submit">Enviar</button>
					</div>

					<h2>
						Si no tenes cuenta registrate tocando <a href="/users/register" class="logout">ACÁ</a>
					</h2>
		
				</form>
			</section>
</body>

</html>

<%- include('./partials/footer') %>